//  REMOVE SOME STANDARD GDS STYLING FOR NSDC HEADER

.govuk-header__logo {
    width: fit-content
}

.govuk-header__container {
    border-bottom: 0;
    margin-bottom: 10px;
}

// NSDC STYLES OLD

.nsdc-header-old {
    background-color: #2D2D2D;
      padding-top:10px;
}



.svg-icon {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px
  }

.nsdc-header__link{
    text-decoration: underline;
    &:hover{
        color: #DBDA00;
    }
}
.nsdc-chat-now__link{
    @media (max-width: 40.0625em)
    {
      padding-top:10px;
    }
    font-size: 1.1rem;
    float:right;
}


// NSDC NEW

.nsdc-header{
    background-color: #fff;
}

.nsdc-logo {
    vertical-align: middle;
    display: inline-block;
}

.header-link {
    font-size: 70px
}
.header-link:hover{
    border-bottom: 3px solid black;
}

.border-banner {
    background-image: url(https://assets.hexcdn.uk/nsdc/assets/img/border-banner.svg);
    background-size: contain;
    height: 10px;
    width: 100%;

    @media (max-width: 40.0625em)
    {
        background-repeat: no-repeat;
        height: 30px;
    }
  }

  .nsdc-button {
    background-color: #265A87;
    border-radius: 4px;
    &:hover {
        background-color:  #204d74
    }
} 


